*{

    padding: 0;
    margin: 0;
}

img{
 display: block;   

height: 15vw;
width: 19vw;
}

.topa{
    display: flex;
    justify-content: space-between;
    
    height: 15vw;
    
    margin-bottom: 5vw;
}

.cart i{
    color: orange;
    font-size: 3vw;
}
.word{
    align-self: center;
}

.word p{
color: maroon;
font-size: 2.5vw;
text-align-last: center;
margin-left: 3vw;


}
.all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
background-color: rgb(72, 168, 72);
    
    
}
.box{
display: flex;
flex-direction: column;
border: none;
margin: 1vw;
height: 30vw;
width: 30vw;
justify-content:space-between;
align-items: center;
text-align-last: center;
border-radius: 2vw;
background-color:white;






}
.box p{padding: 1vw;
 font-size:1.4vw;               
}


.circle{
    clip-path: circle();
}
.order{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}
.order p{
    margin-left: 3vw;
}
span{
    display: block;
    background-color: lightblue;
    padding: 0.7vw;
    color: maroon;
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 2vw);
    
    
}
.order :nth-child(2){
    font-weight: bold;
    font-size: clamp(1rem, 1vw, 2rem);
    color:orangered;
}
.order :nth-child(2):hover{
    color: green;
    text-decoration: underline;
    cursor: pointer;
    transition: 2s;
    transform: rotate(2deg);
    
}
em.upa{
    margin-top: -6vw;
}